:root {
    /* Settings */
    --spacing: 15px;
    --font-size: 1.15rem;
    /* Normal Colors */
    --background-color: rgba(193, 196, 193, 0.863);
    --alt-background-color: rgb(91, 101, 145);
    --font-color: black;
    --alt-font-color: rgb(6, 231, 231);
    --border-color: black;
    /* Dark Mode Colors */
    --dark-background-color: black;
    --dark-alt-background-color: darkslategray;
    --dark-font-color: white;
    --dark-alt-font-color: gainsboro;
    --dark-border-color: white;}
  
          
          
      .nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: royalblue;
      }

      .headerus {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        background-color:rgb(68, 97, 141);
    }
    body {
         margin: 50px;
    }
    .footercontact {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto 1fr auto;
      font-size: var(--font-size);
      border-top: 1px solid var(--border-color);
      padding: var(--spacing);
      color: var(--alt-font-color);
      background-color: var(--alt-background-color)
    }